
.root {
    -fx-background-color: white;
}

.label {
    -fx-text-fill: black;
}

.title-box {
    -fx-border-color: transparent transparent #e1e3e7 transparent;
}

.titled-pane > .title {
    -fx-pref-height: 48;
    -fx-background-color: transparent;
}

.title-label {
    -fx-font-family: 'Roboto';
    -fx-font-size: 14px;
}

.title-box:hover > .title-label {  
    -fx-font-family: 'Roboto Medium'
}
