
.local-ips-root {
    -fx-base: white;
    -fx-background-color: white;
    -fx-font-family: 'Roboto';
    -fx-pref-width: 335px;
    -fx-pref-height: 78px;
    -fx-min-width: -fx-pref-width;
    -fx-min-height: -fx-pref-height;
    -fx-max-height: -fx-pref-height;
}

.delete-button {
    -fx-pref-width: 24px;
    -fx-pref-height: 24px;
    -fx-min-width: -fx-pref-width;
    -fx-min-height: -fx-pref-width;
    -fx-max-width: -fx-pref-width;
    -fx-max-height: -fx-pref-width;
    -fx-padding: 0 1 0 0;
    -fx-background-radius: 12px;
    -fx-cursor: hand;
}

.delete-button .jfx-rippler {
    -jfx-rippler-fill: white;
}

.delete-button .ikonli-font-icon {
    -fx-icon-code: mdi-delete;
    -fx-icon-size: 24px;
    -fx-icon-color: #c2c6ce;
}

.header-label {
    -fx-pref-height: 20px;
    -fx-min-height: -fx-pref-height;
    -fx-max-height: -fx-pref-height;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

.jfx-text-field {
    -fx-font-size: 14px;
    -fx-prompt-text-fill: #7b7b7b;
    -fx-border-color: #949494;
    -fx-pref-height: 27px;
    -fx-max-height: -fx-pref-height;
    -fx-min-height: -fx-pref-height;
    -fx-pref-width: 199px;
    -fx-max-width: -fx-pref-width;
    -fx-min-width: -fx-pref-width;
}

.jfx-text-field {
    -fx-padding: 1 0 1 1;
}

.jfx-text-field:focused {
    -fx-border-color: #174bc9;
}

.jfx-text-field > .input-line {
    -fx-pref-height: 0px;
    -fx-max-height: 0px;
}

.jfx-text-field > .input-focused-line {
    -fx-pref-height: 0px;
    -fx-max-height: 0px;
}

.field-header-label {
    -fx-font-size: 11px;
    -fx-text-fill: #939393;
    -fx-pref-height: 18px;
    -fx-min-height: -fx-pref-height;
    -fx-max-height: -fx-pref-height;
}

.jfx-toggle-button {
    -fx-pref-height: 25px;
    -fx-min-height: -fx-pref-height;
    -fx-max-height: -fx-pref-height;
    -fx-padding: 0;
    -jfx-toggle-color: #174bc9;
    -jfx-toggle-line-color: #8aa4e4;
    -jfx-untoggle-color: white;
    -jfx-untoggle-line-color: #9e9e9e;
}

.hyperlink-box {
    -fx-pref-height: 41px;
    -fx-min-height: -fx-pref-height;
    -fx-max-height: -fx-pref-height;
}

.hyperlink {
    -fx-text-fill: #0e46cc;
    -fx-focus-traversable: false;
    -fx-font-size: 13px;
    -fx-padding: -1px;
}


