
.logout-dialog-root {
    -fx-background-color: white;
    -fx-font-family: 'Roboto';
    -fx-pref-width: 465px;
    -fx-pref-height: 220px;
    -fx-min-width: -fx-pref-width;
    -fx-min-height: -fx-pref-height;
    -fx-max-width: -fx-pref-width;
    -fx-max-height: -fx-pref-height;
}

.header-area {
    -fx-pref-height: 55px;
    -fx-min-height: -fx-pref-height;
    -fx-max-height: -fx-pref-height;
    -fx-background-color: #174bc9;
}

.header-area > .label {
    -fx-font-family: 'Roboto';
    -fx-font-size: 18px;
    -fx-text-fill: white;
}

.header-area > .jfx-button {
    -fx-pref-width: 40px;
    -fx-pref-height: 40px;
    -fx-min-width: -fx-pref-width;
    -fx-min-height: -fx-pref-height;
    -fx-max-width: -fx-pref-width;
    -fx-max-height: -fx-pref-height;
    -fx-background-radius: 20px;
    -fx-cursor: hand;
}

.header-area > .jfx-button > .ikonli-font-icon {
    -fx-icon-code: mdi-close;
    -fx-icon-size: 20px;
    -fx-icon-color: #8db8f3;
}

.content-area {
    -fx-pref-height: 165px;
    -fx-min-height: -fx-pref-height;
    -fx-max-height: -fx-pref-height;
}

.buttons-area {
    -fx-pref-height: 60px;
    -fx-min-height: -fx-pref-height;
    -fx-max-height: -fx-pref-height;
}

.content-area,
.buttons-area {
    -fx-font-size: 14px;
}

.buttons-area > .jfx-button {
    -fx-pref-width: 90px;
    -fx-min-width: -fx-pref-width;
    -fx-max-width: -fx-pref-width;
    -fx-pref-height: 40px;
    -fx-min-height: -fx-pref-height;
    -fx-max-height: -fx-pref-height;
    -fx-text-fill: #9199a0;
    -fx-border-color: #c2c6cf;
}
