/*
Copyright 2019.
*/
/* 
    Created on : Oct 17, 2019, 5:32:14 PM
    Author     : Hiram K <hiram.kamau@outlook.com>
*/

.dialog-pane {
    -fx-base: white;
    -fx-pref-width: 461px;
    -fx-pref-height: 555px;
    -fx-min-width: -fx-pref-width;
    -fx-min-height: -fx-pref-height;
    -fx-max-width: -fx-pref-width;
    -fx-max-height: -fx-pref-height;
}

.header-area {
    -fx-pref-height: 55px;
    -fx-min-height: -fx-pref-height;
    -fx-max-height: -fx-pref-height;
    -fx-background-color: #174bc9;
}

.header-area > .label {
    -fx-font-family: 'Roboto';
    -fx-font-size: 18px;
    -fx-text-fill: white;
}

.header-area > .jfx-button {
    -fx-pref-width: 40px;
    -fx-pref-height: 40px;
    -fx-min-width: -fx-pref-width;
    -fx-min-height: -fx-pref-height;
    -fx-max-width: -fx-pref-width;
    -fx-max-height: -fx-pref-height;
    -fx-background-radius: 20px;
    -fx-cursor: hand;
}

.header-area > .jfx-button > .ikonli-font-icon {
    -fx-icon-code: mdi-close;
    -fx-icon-size: 20px;
    -fx-icon-color: #8db8f3;
}

.small-label {
    -fx-font-size: 12px;
}

.large-label {
    -fx-font-size: 14px;
}

.content-area {
    -fx-pref-height: 500px;
    -fx-min-height: -fx-pref-height;
    -fx-max-height: -fx-pref-height;
    -fx-background-color: white;
}

.list-area {
/*    -fx-pref-height: 300px;
    -fx-min-height: -fx-pref-height;
    -fx-max-height: -fx-pref-height;*/
}

.list-area > .border-pane {
    -fx-pref-width: 394px;
    -fx-pref-height: 187px;
    -fx-min-width: -fx-pref-width;
    -fx-min-height: -fx-pref-height;
    -fx-max-width: -fx-pref-width;
    -fx-max-height: -fx-pref-height;
    -fx-font-family: 'Roboto';
    -fx-font-size: 14px;
    -fx-border-color: #e0e2e7;
    -fx-border-width: 1 1 1 1;
}

.jfx-list-view {
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}

.jfx-list-view .scroll-bar:vertical .thumb {
    -fx-background-color: #e0e0e0;
}

.list-cell:odd, 
.list-cell:even {
    -fx-background-color: #f9f9f9;
}

.list-cell {
    -fx-background-insets: 0.0;
    -fx-padding: 0 0 0 20;
}

.buttons-area {
    -fx-pref-height: 60px;
    -fx-min-height: -fx-pref-height;
    -fx-max-height: -fx-pref-height;
    -fx-font-family: 'Roboto';
    -fx-font-size: 14px;
}

.buttons-area > .jfx-button {
    -fx-pref-height: 36px;
    -fx-min-height: -fx-pref-height;
    -fx-max-height: -fx-pref-height;
    -fx-padding: 0em 1em 0em 1em;
    -fx-font-family: 'Roboto Medium';
    -fx-text-fill: #9199a0;
    -fx-border-color: #c2c6cf;
}

/*.buttons-area > .save-button {
    -fx-text-fill: #0e46cc;
    -fx-border-color: #b9c9ef;
    -fx-background-color: #d6e4ff;
}

.buttons-area > .cancel-button {
}*/

.list-area > .list-actions-area {
    -fx-pref-height: 50px;
    -fx-min-height: -fx-pref-height;
    -fx-max-height: -fx-pref-height;
    -fx-font-family: 'Roboto';
}

.list-area > .list-actions-area > .add-group-button {
    -fx-pref-width: 155px;
    -fx-pref-height: 36px;
    -fx-min-width: -fx-pref-width;
    -fx-min-height: -fx-pref-height;
    -fx-max-width: -fx-pref-width;
    -fx-max-height: -fx-pref-height;
    -fx-font-size: 14px;
    -fx-text-fill: #0e46cc;
    -fx-font-family: 'Roboto Medium';
}

.list-area > .list-actions-area > .add-group-button > .ikonli-font-icon {
    -fx-icon-code: mdi-folder-plus;
    -fx-icon-size: 22px;
    -fx-icon-color: #6b8dde;
}

.list-area > .list-actions-area > .apply-group-name-button {
    -fx-pref-width: 18px;
    -fx-pref-height: 18px;
    -fx-min-width: -fx-pref-width;
    -fx-min-height: -fx-pref-height;
    -fx-max-width: -fx-pref-width;
    -fx-max-height: -fx-pref-height;
    -fx-background-radius: 8px;
    -fx-padding: 2px 2px 2px 2px;
}

.list-area > .list-actions-area > .apply-group-name-button > .jfx-rippler{
    -jfx-rippler-fill: #dadada;
}

.list-area > .list-actions-area > .apply-group-name-button > .ikonli-font-icon {
    -fx-icon-code: mdi-plus-box;
    -fx-icon-size: 16px;
    -fx-icon-color: #828b93;
}

.list-area > .list-actions-area > .apply-group-name-button:hover > .ikonli-font-icon {
    -fx-icon-color: black;
}


