
.password-dialog-root {
    -fx-background-color: white;
    -fx-font-family: 'Roboto';
    -fx-pref-width: 460px;
    -fx-pref-height: 380px;
    -fx-min-width: -fx-pref-width;
    -fx-min-height: -fx-pref-height;
    -fx-max-width: -fx-pref-width;
    -fx-max-height: -fx-pref-height;
}

.header-area {
    -fx-pref-height: 55px;
    -fx-min-height: -fx-pref-height;
    -fx-max-height: -fx-pref-height;
    -fx-background-color: #174bc9;
}

.header-area > .label {
    -fx-font-size: 18px;
    -fx-text-fill: white;
}

.header-area > .jfx-button {
    -fx-pref-width: 40px;
    -fx-pref-height: 40px;
    -fx-min-width: -fx-pref-width;
    -fx-min-height: -fx-pref-height;
    -fx-max-width: -fx-pref-width;
    -fx-max-height: -fx-pref-height;
    -fx-background-radius: 20px;
    -fx-cursor: hand;
}

.header-area > .jfx-button > .ikonli-font-icon {
    -fx-icon-code: mdi-close;
    -fx-icon-size: 20px;
    -fx-icon-color: #8db8f3;
}

.content-area {
    -fx-pref-height: 325px;
    -fx-min-height: -fx-pref-height;
    -fx-max-height: -fx-pref-height;
    -fx-font-size: 14px;
}

.password-field {
    -fx-prompt-text-fill: #7b7b7b;
    -fx-border-color: #949494;
    -fx-border-width: 1 1 1 1;
    -fx-pref-height: 27px;
    -fx-padding: 0 0 0 1;
}

.password-field:focused {

}

.password-field > .input-line {
    -fx-pref-height: 0px;
    -fx-max-height: 0px;
}

.password-field > .input-focused-line {
    -fx-pref-height: 0px;
    -fx-max-height: 0px;
}

.buttons-area {
    -fx-pref-height: 110px;
    -fx-min-height: -fx-pref-height;
    -fx-max-height: -fx-pref-height;
}

.buttons-area > .jfx-button {
    -fx-pref-height: 40px;
    -fx-min-height: -fx-pref-height;
    -fx-max-height: -fx-pref-height;
}

.buttons-area > .change-password-button {
    -fx-pref-width: 146px;
    -fx-min-width: -fx-pref-width;
    -fx-max-width: -fx-pref-width;
    -fx-border-color: #b9c9ef;
    -fx-background-color: #d6e4ff;
    -fx-text-fill: #134acd;
}

.buttons-area > .cancel-button {
    -fx-pref-width: 88px;
    -fx-min-width: -fx-pref-width;
    -fx-max-width: -fx-pref-width;
    -fx-border-color: #c2c6cf;
    -fx-background-color: #fdfdfd;
    -fx-text-fill: #828b93;
}

