/*
Copyright 2019.
*/
/* 
    Created on : Oct 12, 2019, 12:49:15 AM
    Author     : Hiram K <hiram.kamau@outlook.com>
*/
.profile-summary-root {
    -fx-pref-width: 309px;
    -fx-min-width: -fx-pref-width;
    -fx-max-width: -fx-pref-width;
    -fx-font-family: 'Roboto Regular';
    -fx-padding: 24px 0 0 0;
    -fx-background-color: #f9f9f9;
    -fx-border-color: transparent transparent transparent #e0e2e7;
}

.profile-summary-field-title-box {
    -fx-pref-width: 96px;
    -fx-min-width: -fx-pref-width;
    -fx-max-width: -fx-pref-width;
}

.profile-summary-field-box {
    -fx-pref-width: 164px;
    -fx-min-width: -fx-pref-width;
    -fx-max-width: -fx-pref-width;
}

.profile-summary-title {
    -fx-text-fill: #174bc9;
    -fx-font-size: 14px;
}

.profile-summary-field-title {
    -fx-text-fill: #3f4450;
}

.profile-summary-field {
    -fx-text-fill: #828b93;
}

.profile-summary-field-title,
.profile-summary-field {
    -fx-font-size: 12px;
}

.actions-box {
    -fx-background-color: white;
    -fx-padding: 22px 0 23px 70px;
    -fx-spacing: 10px;
    -fx-pref-height: 83px;
    -fx-min-height: -fx-pref-height;
    -fx-max-height: -fx-pref-height;
}

.actions-box > .cancel-button {
    -fx-text-fill: #828b93;
    -fx-pref-width: 87px;
    -fx-min-width: -fx-pref-width;
    -fx-background-color: #fdfdfd;
    -fx-border-color: #c2c6cf;
}

.actions-box > .update-button {
    -fx-text-fill: #174bc9;
    -fx-pref-width: 122px;
    -fx-min-width: -fx-pref-width;
    -fx-background-color: #d7e4ff;
    -fx-border-color: #b9c9ef;
}

.actions-box > .cancel-button,
.actions-box > .update-button {
    -fx-font-size: 14px;
}
