/*
Copyright 2019.
*/
/* 
    Created on : Oct 5, 2019, 2:19:55 PM
    Author     : Hiram K <hiram.kamau@outlook.com>
*/
.root {
    -fx-background-color: white;
}

.actions-pane {
    -fx-pref-height: 50px;
    -fx-min-height: -fx-pref-height;
    -fx-max-height: -fx-pref-height;
    -fx-padding: 6px 39px 0px 33px;
}

.actions-pane > * {
    -fx-font-family: 'Roboto Medium';
}

.actions-pane > .jfx-check-box {
    -fx-pref-width: 20px;
    -fx-max-width: -fx-pref-width;
    -fx-min-width: -fx-pref-width;
    -fx-pref-height: 38px;
    -fx-min-height: -fx-pref-height;
    -fx-max-height: -fx-pref-height;
}

.actions-pane > .jfx-button {
    -fx-font-size: 14px;
    -fx-text-fill: #174bc9;
    -fx-padding: 0px 22px 0px 22px;
}

.actions-pane > .jfx-button:disabled {
    -fx-text-fill: #8ba5e4;
}

.search-pane {
    -fx-pref-height: 41px;
    -fx-min-height: -fx-pref-height;
    -fx-padding: 19px 39px 0px 33px;
    -fx-spacing: 15px;
}

.search-pane > .jfx-text-field {
    -fx-pref-width: 207px;
    -fx-max-width: -fx-pref-width;
}

.search-pane > .actions-button > .ikonli-font-icon {
    -fx-icon-code: mdi-settings;
}

.search-pane > .actions-button:selected > .ikonli-font-icon,
.search-pane > .actions-button:hover > .ikonli-font-icon,
.search-pane > .refresh-button:hover > .ikonli-font-icon {
    -fx-icon-color: #0e46cc;
}

.search-pane > .refresh-button > .ikonli-font-icon {
    -fx-icon-code: mdi-cached;
}

.search-pane > .actions-button > .ikonli-font-icon,
.search-pane > .refresh-button > .ikonli-font-icon {
    -fx-icon-color: #cdd2d6;
    -fx-icon-size: 25px;
}

.search-pane > .actions-button,
.search-pane > .refresh-button {
    -fx-pref-width: 41px;
    -fx-pref-height: -fx-pref-width;
    -fx-min-width: -fx-pref-width;
    -fx-min-height: -fx-pref-width;
    -fx-max-width: -fx-pref-width;
    -fx-max-height: -fx-pref-width;
    -fx-background-radius: 25px;
    -jfx-toggle-color: #dadada;
    -fx-padding: 8px;
}

.search-pane > .actions-button > .jfx-rippler,
.search-pane > .refresh-button > .jfx-rippler {
    -jfx-rippler-fill: #dadada;
}

.headers-pane {
    -fx-pref-height: 41px;
    -fx-min-height: -fx-pref-height;
    -fx-max-height: -fx-pref-height;
    -fx-padding: 24px 39px 0px 33px;
}

.headers-pane > * {
    -fx-pref-height: 17px;
    -fx-min-height: -fx-pref-height;
    -fx-max-height: -fx-pref-height;
    -fx-border-color: transparent transparent #e1e3e7 transparent;
    -fx-padding: 0px 0px 7px 0px;
}

.headers-pane > .jfx-toggle-node {
    -fx-font-size: 12px;
    -fx-text-fill: black;
    -fx-padding: 0px;
    -fx-alignment: top-left;
    -fx-content-display: right;
    -fx-graphic-text-gap: 80%;
    -jfx-toggle-color: transparent;
    -jfx-untoggle-color: transparent;
}

.headers-pane > .jfx-toggle-node > .jfx-rippler {
    -jfx-rippler-fill: white;
}

.headers-pane > .aux-actions-header-box {
    -fx-pref-width: 102px;
    -fx-min-width: -fx-pref-width;
    -fx-max-width: -fx-pref-width;
}

.headers-pane > .name-toggle {
    -fx-pref-width: 270px;
    -fx-min-width: -fx-pref-width;
    -fx-max-width: infinity;
}

.headers-pane > .status-toggle {
    -fx-pref-width: 64px;
    -fx-min-width: -fx-pref-width;
    -fx-max-width: -fx-pref-width;
}

.headers-pane > .members-toggle {
    -fx-pref-width: 82px;
    -fx-min-width: -fx-pref-width;
    -fx-max-width: -fx-pref-width;
}

.headers-pane > .last-edited-toggle {
    -fx-pref-width: 126px;
    -fx-min-width: -fx-pref-width;
    -fx-max-width: -fx-pref-width;
}

.headers-pane > .last-edited-toggle > .ikonli-font-icon,
.headers-pane > .name-toggle > .ikonli-font-icon {
    -fx-icon-code: mdi-menu-up;
    -fx-icon-size: 17px;
    visibility: hidden;
}

.headers-pane > .last-edited-toggle:focused > .ikonli-font-icon,
.headers-pane > .last-edited-toggle:selected > .ikonli-font-icon,
.headers-pane > .name-toggle:focused > .ikonli-font-icon,
.headers-pane > .name-toggle:selected > .ikonli-font-icon {
    visibility: visible;
}

.headers-pane > .last-edited-toggle:selected > .ikonli-font-icon,
.headers-pane > .name-toggle:selected > .ikonli-font-icon {
    -fx-icon-code: mdi-menu-down;
}
