
.advanced-plugins-root {
    -fx-base: white;
    -fx-background-color: white;
    -fx-font-family: 'Roboto';
}

.advanced-plugins-content {
    -fx-pref-width: 335px;
    -fx-min-width: -fx-pref-width;
}

.jfx-toggle-button {
    -fx-font-size: 14px;
    -fx-pref-height: 29px;
    -fx-min-height: -fx-pref-height;
    -fx-max-height: -fx-pref-height;
    -fx-padding: 0 0 7 0;
    -jfx-toggle-color: #174bc9;
    -jfx-toggle-line-color: #8aa4e4;
    -jfx-untoggle-color: white;
    -jfx-untoggle-line-color: #9e9e9e;
    -fx-alignment: center-left;
}

.vulnerable-plugins-subtitle {
    -fx-max-height: 117px;
}

.flash-plugins-subtitle {
    -fx-max-height: 76px;
}

.vulnerable-plugins-subtitle,
.flash-plugins-subtitle {
    -fx-alignment: top-left;
    -fx-font-size: 12px;
    -fx-line-spacing: 2;
}
