/*
Copyright 2019.
*/
/* 
    Created on : Oct 6, 2019, 5:00:10 AM
    Author     : Hiram K <hiram.kamau@outlook.com>
*/
.root {
    -fx-background-color: white;
}

.titled-pane {
    -fx-border-color: white white #e1e3e7 white;
}

.titled-pane > .title {
    -fx-pref-height: 40px;
    -fx-background-color: white;
    -fx-cursor: hand;
}

.title-box {
    -fx-pref-height: 40px;
    -fx-min-height: -fx-pref-height;
    -fx-max-height: -fx-pref-height;
}

.title-box > * {
    -fx-max-height: infinity;
}

.title-box > .label,
.title-box > * > .jfx-check-box {
    -fx-pref-width: 25px;
    -fx-min-width: -fx-pref-width;
    -fx-max-width: -fx-pref-width;
    -fx-max-height: infinity;
}

.title-box > .label > .image-view {
    -fx-image: url(../images/fox.png)
}

.title-box > .label > .ikonli-font-icon {
    -fx-icon-code: mdi-menu-right;
    -fx-icon-size: 25px;
}

.titled-pane:expanded > .title > .title-box > .label > .ikonli-font-icon {
    -fx-icon-code: mdi-menu-down;
}

.title-box > .name-label {
    -fx-font-size: 14px;
    -fx-text-fill: black;
    -fx-pref-width: 198px;
    -fx-max-width: infinity;
    -fx-min-width: -fx-pref-width;
}

.titled-pane:expanded > .title > .title-box > .name-label,
.title-box > .name-label:hover {
    -fx-font-family: 'Roboto Bold';
}

.title-box > .status-label {
    -fx-font-size: 14px;
    -fx-text-fill: black;
    -fx-pref-width: 64px;
    -fx-min-width: -fx-pref-width;
}

.title-box > .members-label {
    -fx-font-size: 14px;
    -fx-text-fill: black;
    -fx-pref-width: 80px;
    -fx-min-width: -fx-pref-width;
}

.title-box > .last-edited-label {
    -fx-pref-width: 127px;
    -fx-min-width: -fx-pref-width;
}

.title-box > .status-label,
.title-box > .members-label,
.title-box > .last-edited-label {
    -fx-font-size: 12px;
    -fx-text-fill: black;
    -fx-padding: 0px 0px 0px -6px;
}

.title-box > .action-box {
    -fx-pref-width: 70px;
    -fx-min-width: -fx-pref-width;
    -fx-padding: 9px 0px 4px 0px;
}

.title-box > .action-box > .jfx-button {
    -fx-text-fill: #0e46cc;
    -fx-pref-width: 54px;
    -fx-min-width: -fx-pref-width;
    -fx-pref-height: 25px;
    -fx-min-height: -fx-pref-height;
    -fx-background-color: #d3e1ff;
    -fx-border-color: #b9c9ef;
    -fx-border-radius: 2px;
}

.title-box > .menu-box {
    -fx-pref-width: 25px;
    -fx-min-width: -fx-pref-width;
}

.title-box > .menu-box > .jfx-button {
    -fx-max-height: infinity;
}

.title-box > .menu-box > .jfx-button > .ikonli-font-icon {
    -fx-icon-code: mdi-dots-vertical;
    -fx-icon-size: 25px;
    -fx-icon-color: #cdd2d6;
}

.field-title {
    -fx-font-family: 'Roboto Bold';
    -fx-pref-width: 59px;
    -fx-min-width: -fx-pref-width;
    -fx-max-width: -fx-pref-width;
    -fx-alignment: center-right;

}

.details-box {
    -fx-padding: 0px 0px 8px 0px
}

.details-box > * {
    -fx-background-color: #fafafa;
}

.details-box > .id-box {
    -fx-pref-height: 67px;
    -fx-min-height: -fx-pref-height;
    -fx-max-width: infinity;
    -fx-spacing: 20px;
    -fx-padding: 0px 0px 0px 42px;
}

.field-title,
.details-box > .id-box > .label {
    -fx-font-size: 14px;
    -fx-text-fill: black;
}

.details-box > .id-box > .label {
    -fx-max-height: infinity;
}

.details-box > .notes-box {
    -fx-pref-height: 99px;
    -fx-min-height: -fx-pref-height;
    -fx-max-width: infinity;
    -fx-spacing: 20px;
    -fx-padding: 0px 53px 21px 42px;
}

.details-box > .notes-box > .jfx-text-area {
    -fx-max-width: infinity;
}


.details-box > .buttons-box {
    -fx-pref-height: 43px;
    -fx-min-height: -fx-pref-height;
    -fx-max-width: infinity;
    -fx-spacing: 20px;
    -fx-padding: 0px 53px 0px 120px;
}

.details-box > .buttons-box > .jfx-button {
    -fx-pref-height: 26px;
    -fx-font-family: 'Roboto Medium';
    -fx-padding: 0px 18px 0px 18px;
}

.details-box > .buttons-box > .save-button {
    -fx-background-color: #1b53d3;
    -fx-text-fill: white;
}

.details-box > .buttons-box > .cancel-button {
    -fx-background-color: transparent;
    -fx-text-fill: #1b53d3;
}


