
.advanced-devices-root {
    -fx-base: white;
    -fx-background-color: white;
    -fx-font-family: 'Roboto';
}

.advanced-devices-content {
    -fx-pref-width: 335px;
    -fx-min-width: -fx-pref-width;
}

.field-header-label {
    -fx-font-size: 12px;
}

.buttons-area {
    -fx-pref-height: 38px;
    -fx-min-height: -fx-pref-height;
    -fx-max-height: -fx-pref-height;
}

.buttons-area > .off-toggle {
    -fx-border-color: #e0e2e7 transparent #e0e2e7 #e0e2e7;
}

.buttons-area > .on-toggle {
    -fx-border-color: #e0e2e7 #e0e2e7 #e0e2e7 transparent;
}

.buttons-area > * {
    -fx-padding: 0 16 0 16;
}

.device-label,
.radio-button {
    -fx-font-size: 14px;
}

.radio-button {
    -fx-background-color: transparent;
    -fx-text-fill: #aaaaaa;
    -fx-font-weight: bold;
    -fx-cursor: hand;
}

.radio-button:selected {
    -fx-background-color: #0b37a4;
    -fx-text-fill: #e0e0e0;
}

.radio-button > .radio {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-background-radius: 0px;
    -fx-padding: 0.0em;
}

.radio-button > .radio > .dot {
    -fx-background-color: transparent;
    /*This is important!*/
    -fx-background-radius: 0;
    -fx-padding: 0;
}

.radio-button:selected > .radio > .dot {
    -fx-background-color: transparent;
}

.plus-button,
.minus-button {
    -fx-pref-width: 18px;
    -fx-pref-height: -fx-pref-width;
    -fx-max-width: -fx-pref-width;
    -fx-max-height: -fx-pref-width;
    -fx-min-width: -fx-pref-width;
    -fx-min-height: -fx-pref-width;
    -fx-padding: 0 1 0 0;
    -fx-cursor: hand;
}

.plus-button .jfx-rippler,
.minus-button .jfx-rippler {
    -jfx-rippler-fill: white;
}

.plus-button > .ikonli-font-icon {
    -fx-icon-code: mdi-plus-box;
}

.minus-button > .ikonli-font-icon {
    -fx-icon-code: mdi-minus-box;
}

.ikonli-font-icon {
    -fx-icon-color: black;
    -fx-icon-size: 18px;
}

.no-of-devices-label {
    -fx-pref-width: 31px;
    -fx-pref-height: 18px;
    -fx-max-width: -fx-pref-width;
    -fx-max-height: -fx-pref-height;
    -fx-min-width: -fx-pref-width;
    -fx-min-height: -fx-pref-height;
    -fx-alignment: center;
}

.device-type-box {
    -fx-pref-height: 64px;
    -fx-max-height: -fx-pref-height;
    -fx-min-height: -fx-pref-height;
}
